@media screen and (max-width: 300px) {
    body {
        width: 80%;
        font-size: 15px;

    }
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Mono', monospace;
}

h1 {
    text-align: center;
        font-size: 50px;
}

.social-icons {

    text-align: center;
}


.social-icons li {
  display:inline-block;
  list-style: none;
}

.social-icons li img {
  margin-right: 20px;
  width:50px;
  height: 50px;
}

h2{
    text-align: center;
    font-size: 50px;
}

.orangeframe {
  border: 10px solid orange;
  border-radius: 3%;
}

#clef {
 display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

div#body1 {

background-image: radial-gradient(circle, #d16ba5, #bb74b0, #a57cb5, #9281b4, #8385ad, #7e8fb6, #7a99bc, #77a2c1, #6db8d7, #61cfe6, #58e5ef, #5ffbf1);
padding: 100px;
}

div#body2 {
 background: rgba(255,255,255,1);
background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(194,194,194,1) 98%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(98%, rgba(194,194,194,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(194,194,194,1) 98%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(194,194,194,1) 98%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(194,194,194,1) 98%, rgba(237,237,237,1) 100%);
background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(194,194,194,1) 98%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
padding: 100px;
}


#navi {
  height: 50px;
}


ul#navbar li {
float: left;
padding: 3px;
}


div#body3  {
  background: rgba(248,194,255,1);/* Old Browsers */

background: -moz-linear-gradient(left, rgba(248,194,255,1) 0%, rgba(248,194,255,1) 18%, rgba(255,92,225,1) 40%, rgba(255,102,222,1) 49%, rgba(255,128,232,1) 56%, rgba(255,128,232,1) 66%); /* FF3.6+ */
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,194,255,1)), color-stop(18%, rgba(248,194,255,1)), color-stop(40%, rgba(255,92,225,1)), color-stop(49%, rgba(255,102,222,1)), color-stop(56%, rgba(255,128,232,1)), color-stop(66%, rgba(255,128,232,1)));/* Chrome, Safari4+ */
background: -webkit-linear-gradient(left, rgba(248,194,255,1) 0%, rgba(248,194,255,1) 18%, rgba(255,92,225,1) 40%, rgba(255,102,222,1) 49%, rgba(255,128,232,1) 56%, rgba(255,128,232,1) 66%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(248,194,255,1) 0%, rgba(248,194,255,1) 18%, rgba(255,92,225,1) 40%, rgba(255,102,222,1) 49%, rgba(255,128,232,1) 56%, rgba(255,128,232,1) 66%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(248,194,255,1) 0%, rgba(248,194,255,1) 18%, rgba(255,92,225,1) 40%, rgba(255,102,222,1) 49%, rgba(255,128,232,1) 56%, rgba(255,128,232,1) 66%); /* IE 10+ */
background: linear-gradient(to right, rgba(248,194,255,1) 0%, rgba(248,194,255,1) 18%, rgba(255,92,225,1) 40%, rgba(255,102,222,1) 49%, rgba(255,128,232,1) 56%, rgba(255,128,232,1) 66%);/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8c2ff', endColorstr='#ff80e8', GradientType=1 ); 
padding: 100px;
}



div#body4 {

background: rgba(98,125,77,1);
background: -moz-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,0.76) 46%, rgba(0,107,20,0.7) 58%, rgba(0,107,20,0.68) 62%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,125,77,1)), color-stop(46%, rgba(31,59,8,0.76)), color-stop(58%, rgba(0,107,20,0.7)), color-stop(62%, rgba(0,107,20,0.68)));
background: -webkit-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,0.76) 46%, rgba(0,107,20,0.7) 58%, rgba(0,107,20,0.68) 62%);
background: -o-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,0.76) 46%, rgba(0,107,20,0.7) 58%, rgba(0,107,20,0.68) 62%);
background: -ms-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,0.76) 46%, rgba(0,107,20,0.7) 58%, rgba(0,107,20,0.68) 62%);
background: linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(31,59,8,0.76) 46%, rgba(0,107,20,0.7) 58%, rgba(0,107,20,0.68) 62%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#006b14', GradientType=1 );
padding: 100px;
}

.one#icon1{
  background-image: url("resources/goe.jpg");
}

.one#icon2{
  background-image: url("resources/mi.jpg");
}

.one#icon3{
  background-image: url("resources/wkca.jpg");
}

.one#icon4{
  background-image: url("resources/ae.jpg");
}

.one#icon5{
  background-image: url("resources/cb.jpg");
}

.one#icon6{
  background-image: url("resources/logh1.jpg");
}

.one#icon7{
  background-image: url("resources/logh2.jpg");
}

.one#icon8{
  background-image: url("resources/logh3.jpg");
}

.one#icon9{
  background-image: url("resources/logh4.jpg");
}

.one#icon10{
  background-image: url("resources/opm1.jpg");
}

.one#icon11{
  background-image: url("resources/bayo.jpg");
}

.one#icon12{
  background-image: url("resources/vanquish.jpg");
}

.one#icon13{
  background-image: url("resources/gk.jpg");
}

.one#icon14{
  background-image: url("resources/los.jpg");
}

.one#icon15{
  background-image: url("resources/le.jpg");
}

ul#navbar  {
 
position: fixed;
width: 100%;
    top:0;
    left:0;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: orange;
    border-bottom: 1px solid black; 
    border-top: 1px solid black; 
      border-right: 1px solid black;
        border-left: 1px solid black;
        border-radius: 5px;
}


ul#navbar li a{
   
display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    border-color: white;
    border-right: 1px solid black;
        border-top: 1px solid black; 
     border-left: 1px solid black;
    border-bottom: 1px solid black;
     border-radius: 5px;


}


div.main {
  padding: 10%;



}

.round {
    border-radius: 50%;
}

img.round {
width: 250px;
height: 250px;
border: white ;
 margin-left: auto;
 margin-right: auto;
background-color:white;
border: 2px solid black;
 display:block;
-webkit-box-shadow: 0px 0px 85px 32px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 85px 32px rgba(0,0,0,0.75);
box-shadow: 0px 0px 85px 32px rgba(0,0,0,0.75);



}


#musicplayer  {
  
  border-radius: 10%;
  background-color: #ead3d5;
-webkit-box-shadow:inset 10px 10px 10px 0 #94C6FF,2px 4px 17px 9px #4119FF;
box-shadow:inset 10px 10px 10px 0 #94C6FF,2px 4px 17px 9px #4119FF;
padding: 10px;

}

.footer {
    background-color: orange;
      position: fixed;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  color: black;
  text-align: left;

}


#image1 {
  width: 500px;
  height: 490px;

  margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 5px;
    border: solid orange 25px;
    -webkit-box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.5);
box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.5);
margin-top: auto;
margin-bottom: : auto;
}


#image2 {
  width: 500px;
  height: 490px;


  margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 5px;
    border: solid orange 25px;
    -webkit-box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.5);
box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.5);
}


#image3 {
  width: 500px;
  height: 490px;


  margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 5px;
    border: solid orange 25px;
    -webkit-box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.5);
box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.5);
}



#footerleft {
  float:left;
  list-style-type: none;
}


#footerright {
  float: right;
  list-style-type: none;

}


.one{
  background-color: #FFDC00;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  clear:left;
  display:inline-block;
  margin:auto;
  vertical-align: top;
  /*to fix divs not aligning css*/

  
}


ul.social-icons > li > a > img {

   width: 5vw;
   height: 5vw;
    display: flex;

    
  
}



.vid {

      width: 300px;
      height: 300px;
        
      background-color: black;

}

#myFrame {
    
position: absolute; 
right: 50px; 
top: 200px; 

}


.blackframe {
    border-bottom: 1px solid black; 
    border-top: 1px solid black; 
      border-right: 1px solid black;
        border-left: 1px solid black;
        border-radius: 5px;
        border-width: 10px;
        width:auto;
        text-align: center;
        padding: 5px;
        margin: 5px;

/*Set text-align:center; to the parent div, and margin:auto; to the child div. to center child divs*/
        }


.main {
  border: 1px solid black;
}


.ma {
  border: 5px solid black;
  padding: 25px;
  margin: 25px;
}


.para {
  background-color: green;
}

.ma2 {
  border: 20px solid orange;
  padding: 50px;
  margin: 50px;
}


.wrapper{
  width: 100%;
}



/*galaxy S5*/
@media only screen and ( max-width: 360px) {
  .wrapper  {
    width: 360px;
  }

 img.round {
width: 50%;
height: 50%;
border: white ;
 margin-left: auto;
 margin-right: auto;
background-color:white;
border: 2px solid black;
 display:block;
-webkit-box-shadow: 0px 0px 85px 32px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 85px 32px rgba(0,0,0,0.75);
box-shadow: 0px 0px 85px 32px rgba(0,0,0,0.75);



}

}